@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #eb662b;
  --search-background-color: #e8e6e661;
  --text-color: #000000d3;
}

body {
  font-family: "Poppins", sans-serif;
}

/* header section start */
.header {
  display: flex;
  height: 78px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo__search-container input {
  outline: none;
  border: none;
  background-color: var(--search-background-color);
  padding: 10px 30px;
  border-radius: 8px;
  font-size: 14px;
  color: var(--text-color);
}

.menu-item-lists {
  display: flex;
  list-style: none;
  gap: 50px;
}

.menu-item-list a {
  text-decoration: none;
  color: var(--text-color);
}
.cta button {
  padding: 12px 30px;
  border-radius: 20px;
  border: none;
  border: 1.5px solid var(--primary-color);
  color: var(--primary-color);
  background-color: white;
  font-size: 14px;
  cursor: pointer;
}

.cta button:hover {
  background-color: var(--primary-color);
  color: white;
}

/* header section end */

/* hero section start */
.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.2)),
    url("./images/hero-section-background.png");
  height: 700px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-section__header{
    font-size: 70px;
    line-height: 84px;
    font-weight: 500;
    color: white;
    text-align: center;
    padding-top:100px;
}

.hero-section__description{
    font-size: 16px;
    color: white;
    text-align: center;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1.5px;
}
/* hero section end */
